extends layout

block content
  .row: .large-12.columns: h1= title
  .row
    .large-3.columns: superhero(flight, speed, strength) superman
    .large-3.columns: superhero(speed) flash
    .large-6.columns
block endScripts
  script(type='text/javascript', src='/javascripts/index.js')